# Project-specific
.local

# Byte-compiled / optimized
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/
.hypothesis/

# Environments
.env*
!*.env.example
!.env.*.example
.venv
venv/

# Type checkers
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# SQLite
*.sqlite
*.sqlite-journal
